* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    min-height: 200vh;
}

.outer-container {
    border: 3px dashed #000;
    width: 75vw;
    height: 85vh;
    margin: 40px auto;
}

.inner-container {
    border: 2px solid #00f;
    width: 40vw;
    height: 50vh;
    margin: 150px auto;
}

.box {
    width: 150px;
    height: 150px;
    color: #fff;
    padding: 1rem;
}

/* absolute position is relative to the nearest relative or absolute positioned ancestor */
.absolute {
    background-color: #00f;
    position: absolute;
    top: 0;
    /* The best way to move something visibly out of the viewport is to set its left value to a negative value */
    /* left: -1000px; */
    z-index: 1;
}

/* relative position is relative to its normal position */
.relative {
    background-color: #f00;
    position: relative;
    top: 30px;
    left: 200px;
}

/* fixed position is relative to the viewport */
.fixed {
    background-color: #0f0;
    position: fixed;
    top: 100px;
    /* The larger index value, the closer to the user */
    z-index: 2;
}

/* sticky position is relative to the nearest ancestor with position: relative or position: sticky */
.sticky {
    background-color: #f0f;
    position: sticky;
    margin-left: 50px;
    top: 100px;
    z-index: 3;
}


/* /////////////////////// */

/* Scroll behavior */
html {
    scroll-behavior: smooth;
}

section {
    height: 100vh;
}

.blue {
    background-color: #00f;
}

.red {
    background-color: #f00;
}

.green {
    background-color: green;
}

header, footer {
    color: #fff;
    text-align: center;
    height: 100px;
}

header {
    position: sticky;
    top: 0;
    font-size: 5rem;
}

footer {
    background-color: #000;
    position: sticky;
    bottom: 0;
    font-size: 3rem;
}

a:visited {
    color: #fff;
}

.social {
    background-color: royalblue;
    color: #fff;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 1;
}