@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
}

.container {
    min-height: 400px;
    display: grid;
    /* grid-auto-flow: column; */
    grid-template-columns: 
    /* 200px 1fr 1fr; */
    repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
    /* row column */
    gap: 1em .5em;
}

.box {
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 0.5rem;
}

.box:first-child {
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 4;
}